<template>
  <div style="margin-top: 110px; margin-bottom: 20px;">
    <div class="align-items-center" style="background-color: rgb(19, 66, 128)">
      

      <v-row style="font-family: 'BellotaText'">

        <v-col cols="2">
          <div>
          </div>
        </v-col>

        <v-col cols="3">
          <div>
            <p style="color:white;"> Tanggal Awal :</p>
            <VueDatePicker v-model="dateAwal"></VueDatePicker>
          </div>
        </v-col>

        <v-col cols="3">
          <div>
            <p style="color:white;"> Tanggal Akhir :</p>
            <VueDatePicker v-model="dateAkhir"></VueDatePicker>
          </div>
        </v-col>

        <v-row>
          <v-col cols="2">
          <div>
            <v-btn style="font-family: 'BellotaText'; color: grey;" color="#EBD494" class="mt-5 ml-8 text-none"
            @click="loadFilter()">Filter</v-btn>
          </div>
          
        </v-col>
        <v-col>
          <v-btn style="font-family: 'BellotaText'; color: white;" color="#eb5144" class="mt-5 ml-8 text-none"
            @click="clearSelection()">Reset</v-btn>
        </v-col>
        </v-row>

      
      </v-row>

      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
    </div>
  </div>

  <GoogleMap api-key="AIzaSyCi-XOBnxgXNnkw_a69Zbwz8s6P5l52NwQ" style="width: 100%; height: 100%"
    :center="{ lat: -7.766477108, lng: 110.4795532 }" :zoom="19">
    <Marker v-for="(marker) in filteredMarkers" :key="marker.id" :options="marker" @click="createChart(marker)">
      <InfoWindow :position="marker.position" style="font-family: 'BellotaText'">
        <div style="width: 350px">
          <p style="font-size: 15px">Nama Lahan : {{ marker.namaLahan }}</p>
          <p style="font-size: 15px">Komoditas : {{ marker.komoditas }}</p>
          <p style="font-size: 15px">Rata-rata CO2 : {{ marker.rerataC02 }} ppm</p>
          <p style="font-size: 15px">Rata-rata Gas CH4 : {{ marker.rerataGas }} ppm</p>
          <p style="font-size: 15px">Fase (HST) : {{ marker.phase }}</p>
          <!-- <p style="font-size: 15px">
              Tanggal Sampling : {{ formatDate(marker.tanggalSampling) }}
            </p> -->
          <v-spacer></v-spacer>
          <br />
          <h3 style="text-align: center; font-size: 15px">Data Karbon (gr)</h3>
          <canvas :id="'chart' + marker.id" max-width="100" height="150"></canvas>
        </div>
      </InfoWindow>
    </Marker>
  </GoogleMap>
</template>
  
<script>
import { defineComponent } from "vue";
import { GoogleMap, Marker, InfoWindow } from "vue3-google-map";
import axios from "axios";
import Chart from "chart.js/auto";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default defineComponent({
  name: "MapPage",
  components: {
    GoogleMap,
    Marker,
    InfoWindow,
    VueDatePicker
  },
  data() {
    return {
      dateAwal: null,
      dateAkhir: null,
      data: undefined,
      selectedLocation: "",
      selectedKomoditas: "",
      schedule: new Date(),
      HSTItem: ['HST 0', 'HST 1', 'HST 2'],
      selectedHst: "",
      selectedDevice: "",
      Lokasi: [],
      Komoditas: [],
      Devices: [],
      markerOptions: [],
      itemsChart: [],
      icon: [
        "padiIcon.svg",
        "iconCabai.svg",
        "iconKentang.svg",
        "iconCamera.svg",
        "iconGasC.svg",
      ],
      co2: "",
      datetime: "",
      field_name: "",
      square: 0,
      kode_chamber: "",
      phase: 0,
      gas: 0,
      id: "",
      loc_name: ""
    };
  },
  async mounted() {
    try {
      await axios
        .get(
          "https://2kmqscrz3g.execute-api.us-east-1.amazonaws.com/dev?tanggalAwal=2023-10-01T00:23:32&tanggalAkhir=2023-9-24T15:55:31"
          //"https://ju2ugihluqcyjovsnjsei2tdlu0zabtf.lambda-url.us-east-1.on.aws/" 
        )
        .then((response) => {
          this.data = response.data;
          // // Ambil Data lokasi
          // this.Lokasi = Array.from(
          //   new Set(this.data.map((item) => item.field_name))
          // );

          // this.Lokasi.sort(function (a, b) {
          //   return a.localeCompare(b);
          // });


          // Buat markerOptions
          this.markerOptions = this.data
            .map((item, index) => {
              let koordinatLatitude = item.lat;
              let koordinatLogitude = item.long;
              const title = item.loc_name;
              let icon = this.icon[4];
              let co22 = [];
              let gas22 = [];
              let datetime22 = [];

              item.items.map((item2) => {
                co22.push(item2.co2)
              });

              item.items.map((item3) => {
                gas22.push(item3.gas)
              });

              item.items.map((item4) => {
                datetime22.push(item4.datetime)
              });



              return {
                position: { lat: koordinatLatitude, lng: koordinatLogitude },
                title: title,
                icon: {
                  url: icon,
                  scaledSize: { width: 40, height: 40 },
                },

                id: index,
                namaLahan: item.field_name,
                komoditas: "Padi",
                rerataC02: item.averageCo2.toFixed(2),
                rerataGas: item.averageGas.toFixed(2),
                co2: co22,
                gas: gas22,
                datetime: datetime22,
                itemsChart: item.items,
                phase: item.phase,
                //   hstItem: item.properties.hst,
                //tanggalSampling: item.items.datetime,
                //   terserap_carbon_tanah: item.properties.carbon_tanah,
                //   device: item.properties.device,
                //   terserap_carbon_tanaman: item.properties.carbon_tanaman,
                //   emisi_carbon_tanah: item.properties.emisi_tanah,
                //   emisi_carbon_tanaman: item.properties.emisi_tanaman,
                //   emisi_carbon_lingkungan: item.properties.emisi_lingkungan,
                chart: null,
              };

            });
        });

    } catch {
      console.error()
    }

  },
  computed: {
    filteredMarkers() {
      let filteredMarkers = this.markerOptions;

      // Filter berdasarkan lokasi
      if (this.selectedLocation) {
        filteredMarkers = filteredMarkers.filter(
          (marker) => marker.title === this.selectedLocation
        );
      }

      return filteredMarkers;
    },
  },
  methods: {
    createChart(marker) {
      const chartId = "chart" + marker.id;
      const canvas = document.getElementById(chartId);
      const dataItem = this.markerOptions.find((item) => item.id === marker.id);
      const existingChart = Chart.getChart(canvas);

      let co222 = [];
      let gas222 = [];
      let datetime222 = [];
      dataItem.co2.map((co2Item) => {
        co222.push(co2Item)
      })

      dataItem.gas.map((gasItem) => {
        gas222.push(gasItem)
      })

      dataItem.datetime.map((co2Item) => {
        datetime222.push(co2Item)
      })

      if (existingChart) {
        return;
      }


      // function getRandomColor() {
      //   const letters = '0123456789ABCDEF';
      //   let color = '#';
      //   for (let i = 0; i < 6; i++) {
      //     color += letters[Math.floor(Math.random() * 16)];
      //   }
      //   return color;
      // }

      if (dataItem) {
        marker.chart = new Chart(canvas, {
          type: "bar",
          data: {
            labels: datetime222,
            datasets: [
              {
                label: "Karbon Tanaman",
                data: co222,
                backgroundColor: ["#264653"],
              },
              {
                label: "Gas Chamber",
                data: gas222,
                backgroundColor: ["#2A9D8F"],
              },
            ],
          },
          options: {
            maintainAspectRatio: true,
            responsive: true,
            scales: {
              x: {
                stacked: false,
                grid: {
                  display: false,
                },
              },
              y: {
                stacked: false,
                grid: {
                  display: false,
                },
              },
            },
            plugins: {
              legend: {
                position: "bottom",
                fullSize: true,
              },
            },
          },
        });
      }
    },
    clearSelection() {
      try {
        this.selectedLocation = null;
        this.selectedKomoditas = null;
        this.selectedDevice = null;
        this.dateAwal = null;
        this.dateAkhir = null;
      } catch {
        console.error()
      }
    },

    async loadFilter(){
      try {
        //this.dateAwal
        const dateAwal = new Date(this.dateAwal);
        const dateAkhir = new Date(this.dateAkhir);
        //onst isoDateAwal = dateAwal.toISOString();
        // const isoDateAkhir = dateAkhir.toISOString().split('T')[0];
        var dateFormatAkhir = dateAkhir.getFullYear() + "-" + (dateAkhir.getMonth()+1) + "-" + dateAkhir.getDate();
        var dateFormatAwal = dateAwal.getFullYear() + "-" + (dateAwal.getMonth()+1) + "-" + dateAwal.getDate();
        console.log(dateFormatAwal);
        console.log(dateFormatAkhir);
        await axios
        .get(
          "https://2kmqscrz3g.execute-api.us-east-1.amazonaws.com/dev?tanggalAwal="+dateFormatAwal+"T00:00:00&tanggalAkhir="+dateFormatAkhir+"T00:00:00",
          //"https://2kmqscrz3g.execute-api.us-east-1.amazonaws.com/dev?tanggalAwal="+isoDateAwal.toString+"&tanggalAkhir="+isoDateAkhir.toString,
        )
        .then((response) => {
          this.data = response.data;
          // Ambil Data lokasi
          this.Lokasi = Array.from(
            new Set(this.data.map((item) => item.field_name))
          );

          this.Lokasi.sort(function (a, b) {
            return a.localeCompare(b);
          });


          // Buat markerOptions
          this.markerOptions = this.data
            .map((item, index) => {
              let koordinatLatitude = item.lat;
              let koordinatLogitude = item.long;
              const title = item.loc_name;
              let icon = this.icon[4];
              let co22 = [];
              let gas22 = [];
              let datetime22 = [];

              item.items.map((item2) => {
                co22.push(item2.co2)
              });

              item.items.map((item3) => {
                gas22.push(item3.gas)
              });

              item.items.map((item4) => {
                datetime22.push(item4.datetime)
              });



              return {
                position: { lat: koordinatLatitude, lng: koordinatLogitude },
                title: title,
                icon: {
                  url: icon,
                  scaledSize: { width: 40, height: 40 },
                },

                id: index,
                namaLahan: item.field_name,
                komoditas: "Padi",
                rerataC02: item.averageCo2,
                rerataGas: item.averageGas,
                co2: co22,
                gas: gas22,
                datetime: datetime22,
                itemsChart: item.items,
                phase: item.phase,
                //   hstItem: item.properties.hst,
                //tanggalSampling: item.items.datetime,
                //   terserap_carbon_tanah: item.properties.carbon_tanah,
                //   device: item.properties.device,
                //   terserap_carbon_tanaman: item.properties.carbon_tanaman,
                //   emisi_carbon_tanah: item.properties.emisi_tanah,
                //   emisi_carbon_tanaman: item.properties.emisi_tanaman,
                //   emisi_carbon_lingkungan: item.properties.emisi_lingkungan,
                chart: null,
              };

            });
        });
        
      } catch {
        console.error()
      }
    },
    //   formatDate(date) {
    //           const parts = date.split('-');
    //           if (parts.length === 3) {
    //               const [year, month, day] = parts;
    //               return `${day}-${month}-${year}`;
    //           }
    //           return date;
    //       },
  },
});
</script>